@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* MODO CLARO (Light Mode) */

    --background: 30 15% 97%; /* mexi */

    --foreground: 20 10% 15%; /* mexi */

    --card: 20 20% 97%;
    --card-foreground: 20 10% 15%;

    --popover: 20 20% 97%;
    --popover-foreground: 0 0% 10%;

    --primary: 45 80% 60%; /* mexi */
    --primary-foreground: 30 15% 94%;

    --secondary: 20 20% 97%; /* mexi */
    --secondary-foreground: 20 10% 20%;

    --muted: 210 20% 94%;
    --muted-foreground: 215.4 47.4% 11.2%;

    --accent: 30 10% 90%;
    --accent-foreground: 20 10% 15%;

    --destructive: 0 70% 55%;
    --destructive-foreground: 210 40% 98%;

    --border: 30 10% 88%;
    --input: 30 10% 88%;
    --ring: 243 45% 45%;

    --radius: 0.75rem;
  }

  .dark {
    /* MODO ESCURO (Dark Mode) */

    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;

    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 45 90% 40%; /* estava 243 75% 59%*/
    --primary-foreground: 0 0% 90%; /* estava 0 0% 100%*/

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 25%;
    --input: 217.2 32.6% 25%;
    --ring: 243 75% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
